####################################
# Dependencies
####################################
node_modules/

####################################
# Expo
####################################
/.expo/
/.expo-shared/
/web-build/
/dist/
expo-env.d.ts

####################################
# Native / Security files
####################################
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

####################################
# Metro / RN cache
####################################
.metro-health-check*
.react-native-debugger/

####################################
# Logs
####################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Environment variables (SECRETS)
####################################
.env
.env.*
.env*.local

####################################
# TypeScript
####################################
*.tsbuildinfo

####################################
# Editor / IDE
####################################
.vscode/
.idea/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Mobile app
####################################
/mobile/node_modules/
/mobile/.expo/
/mobile/.expo-shared/
/mobile/web-build/
/mobile/dist/
/mobile/src/services/firebase.ts

####################################
# Backend (Node.js)
####################################
/backend/node_modules/
/backend/coverage/
/backend/dist/
/backend/build/
/backend/.cache/
/backend/.env
/backend/.env.*
/backend/src/firebase/firebase-service-account.json
